#main {
  display: flex;
}

#left-part {
  width: 300px;
}

#right-part {
  width: 1300px;
}

#photo-container img {
  width: 300px;
  height: auto;
}

#contacts ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.contacts-item {
  display: flex;
  align-items: center;
  height: 80px;
  color: white;
  font-size: 20px;
}

.contacts-item img {
  margin-right: 30px;
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

#sait {
  background: #0000ff;
}
#mail {
  background: #0000cd;
}
#phone {
  background: #00008b;
}

#text_first {
  font-size: 80px;
  font-family: sans-serif;
  color: #1e90ffff;
}
#text_two {
  font-family: sans-serif;
  font-size: 40px;
  color: #696969;
}
#text_three {
  font-family: sans-serif;
  position: relative;
  font-size: 20px;
}
