#main {
  display: flex;
}

#left-part {
  width: 400px;
  font-family: sans-serif;
}

#right-part {
  width: 1300px;
  font-family: sans-serif;
}

#photo-container img {
  width: 370px;
  height: auto;
  padding-left: 30px;
}

#contacts ul {
  margin: 0px;
  padding: 0px;
  padding-left: 30px;
  list-style-type: none;
  width: 370px;
}

.contacts-item {
  display: flex;
  align-items: center;
  height: 80px;
  color: white;
  font-size: 20px;
}

.contacts-item img {
  margin-right: 30px;
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

#sait {
  background: #006a98;
}
#mail {
  background: #007dc5;
}
#phone {
  background: #009adf;
}
#title {
  display: flex;
  width: 700px;
  height: 50px;
  background: #e0dcdb;
  font-size: 20px;
  align-items: center;
}

.text ul {
  list-style-type: none;
}

#lead_1 {
  display: flex;
  align-items: center;
}
#lead_2 {
  display: flex;
  align-items: center;
}
#lead_3 {
  display: flex;
  align-items: center;
}
#lead_4 {
  display: flex;
  align-items: center;
}
#lead_5 {
  display: flex;
  align-items: center;
}
#lead_6 {
  display: flex;
  align-items: center;
}
#lead_7 {
  display: flex;
  align-items: center;
}
#name {
  font-size: 80px;
  color: #009adf;
}
#class_of_work {
  font-size: 40px;
}
#description {
  font-size: 20px;
}
#info-class {
  background: #e0dcdb;
  width: 370px;
  height: auto;
  padding-left: 30px;
}
.man-info ul {
  list-style-type: none;
}
#personal ul {
  align-content: space-between;
}