#main {
  padding: 20px;
  margin: 0px;
  display: flex;
  max-width: 1300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0px;
}
@media (max-width: 800px) {
  #right-part {
    max-width: 420px;
    width: 100%;
    align-items: left;
  }
  #photo-hobbies li {
    flex-wrap: wrap;
  }
  #maim {
    max-width: 420px;
    width: 100%;
  }
}
