#right-part {
  max-width: 880px;
  width: 100%;
  padding-top: 5px;
}

@media (max-width: 700px) {
  #right-part {
    max-width: 420px;
    width: 100%;
  }
  .item-info-left {
    padding-left: 0px;
    width: 0%;
  }
  .item-info-right {
    margin-right: 0px;
    margin-top: 0px;
  }
  .item-info {
    flex-direction: column;
  }
}

#right-part ul {
  list-style-type: none;
}

.right-title {
  display: flex;
  width: 100%;
  height: 47px;
  background: #e0dcdb;
  font-size: 20px;
  align-items: center;
  text-transform: uppercase;
}

.right-title h3 {
  padding-left: 50px;
  font-weight: 550;
}

.item-info {
  padding-top: 8px;
  margin-bottom: 22px;
  display: flex;
  font-size: 21px;
  padding-bottom: 6px;
}

.item-info-left {
  padding-left: 50px;
  width: 20%;
}

.item-info-left span {
  font-weight: bold;
  font-size: 17px;
}

.item-info-right {
  margin-left: 77px;
}

.item-info-right span {
  font-size: 17px;
}

.item-info-right p {
  font-size: 20px;
  margin-top: 12px;
}

#name {
  font-size: 56px;
  font-weight: normal;
  color: #009adf;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#class_of_work {
  font-size: 27px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 5px;
}

#description {
  font-size: 21px;
  margin-bottom: 2px;
}

#info {
  max-width: 800px;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

#photo-hobbies img {
  margin-right: 50px;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}

#photo-hobbies ul {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

#photo-hobbies p {
  text-align: center;
}

#right-part li {
  margin-top: 10px;
}

.text-photo {
  text-align: center;
  font-weight: bold;
}