#right-part {
  max-width: 880px;
  width: 100%;
  padding-top: 10px;
}
@media (max-width: 700px) {
  #right-part {
    max-width: 420px;
    width: 100%;
  }
  .item-info-left {
    padding-left: 0px;
    width: 0%;
  }
  .item-info-right {
    margin-left: 0px;
  }
}
#right-part ul {
  list-style-type: none;
}
.right-title {
  display: flex;
  width: 100%;
  height: 42px;
  background: #e0dcdb;
  font-size: 20px;
  align-items: center;
  text-transform: uppercase;
}
.right-title h3 {
  padding-left: 50px;
  font-weight: bold;
}
.item-info {
  display: flex;
  font-size: 21px;
}
.item-info-left {
  padding-left: 50px;
  width: 20%;
}
.item-info-left span {
  font-weight: bold;
  font-size: 17px;
}
.item-info-right {
  margin-left: 77px;
}
.item-info-right span {
  font-size: 17px;
}
.item-info-right p {
  font-size: 20px;
}
#name {
  font-size: 55px;
  font-weight: normal;
  color: #009adf;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#class_of_work {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
}
#description {
  font-size: 20px;
  margin-bottom: 0px;
}
#info {
  max-width: 800px;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
#photo-hobbies img {
  margin-right: 50px;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
#photo-hobbies ul {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
#photo-hobbies p {
  text-align: center;
}
#right-part li {
  margin-top: 10px;
}
.text-photo {
  text-align: center;
  font-weight: bold;
}
