#right-part {
    width: 880px;
    padding-top: 50px;
  }
#right-part ul {
  list-style-type: none;
}
.right-title {
  display: flex;
  width: 100%;
  height: 42px;
  background: #e0dcdb;
  font-size: 23px;
  align-items: center;
  font-weight: bold;
  padding-left: 52px;
  text-transform: uppercase;
  margin-left: 10px;
}
.item-info div {
  width: 100%;
  padding-left: 20px;
  font-size: 19px;
}
.item-info ul li {
  display: flex;;
}
.item-info span {
  font-weight: bold;
}
#name {
  font-size: 55px;
  color: #009adf;
  text-transform: uppercase;
}
#class_of_work {
  font-size: 25px;
  text-transform: uppercase;
}
#description {
  padding-top: 14px;
  font-size: 23px;
  margin-bottom: 40px;
}
.info {
  flex-direction: column;
  width: 800px;
  padding-left: 20px;
}
#photo-hobbies img {
  margin-right: 50px;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}
#photo-hobbies ul {
  display: flex;
}
#photo-hobbies p {
  text-align: center;
}
#right-part li {
  margin-top: 10px;
}
.text-photo {
  text-align: center;
  font-weight: bold;
}